@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent; /* Transparent Background */
  --foreground: #000000; /* Light Mode Dots (Foreground Color) */
  --dots: #3f3f3fa9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent; /* Transparent Background in Dark Mode */
    --foreground: #ffffff; /* Light Mode Dots (Foreground Color) */

  }
}

body {
  color: var(--foreground);
  background-color: var(--background); /* Transparent background */
  background-image: radial-gradient(var(--dots) 0.75px, transparent 0.75px); /* Pattern with foreground color */
  background-size: 15px 15px; /* Adjust pattern size */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; /* Full height */
  margin: 0; /* Removes default margin */
  transition: background-color 0.3s ease, background-image 0.3s ease; /* Smooth transition for changes */
}
